@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

@keyframes underlineSlide {
  0% { width: 0; }
  100% { width: 120px; }
}

.animate-underline {
  animation: underlineSlide 1s ease forwards;
}

@keyframes fadeSlideUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeSlide {
  animation: fadeSlideUp 0.6s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}

@keyframes zoomIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-zoomIn {
  animation: zoomIn 0.4s ease forwards;
}
